<template>
  <div id="app">
    <h1>{{msg}}</h1>
    <router-link to="/comp1">
        <a>View1</a>
    </router-link>
    <router-link to="/comp2">
        <a>View2</a>
    </router-link>
    <router-view></router-view>
  </div>
</template>


<script>
export default {
  name: "app",
  data() {
    return {
      msg: "Testing vue!"
    };
  }
};
</script>

<style>
body {
  background-color: lightcoral;
}
</style>